<!DOCTYPE html>

<html style="text-align: center;">
    <head>
  <link rel="stylesheet" href="../../css/style.css">
</head>

<body id="not-found-body">
    <hr>
    <h2 id="not-found">{{title}}</h2>
    <hr>
</body>
</html>

