<!DOCTYPE html>
<html>
 
<head>
   
</head>
   
<body>
    
    <h1>{{title}}</h1>

    <form>
        <input placeholder="location">
        <button>Search</button>
    </form>

    <p id="message-1"></p>
    <p id="message-2"></p>
    <script src="/js/client-app.js"></script>
</body>

</html>
